.file {
    border: solid 1px #b3c1c7;
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px;
}

.file:hover {
    border: solid 1px #6790ff;
    background-color: #f8faff;
    border-radius: 10px;
}

.dir {
    border: solid 1px #c5c3bb;
    border-radius: 8px;
    margin-top: 5px;
    padding: 5px;
}

.dir:hover {
    border: solid 1px #ffd967;
    background-color: #fffdf8;
    border-radius: 10px;
}
